@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body{
	background-color: #ece9e9;
	font-family: 'Open Sans', sans-serif;
}
.top-title{
   margin-top: 20px;
 }
.top-title h1{
   font-weight: 700;
 }
    
.top-title div{
 display: flex;
 }
 .top-title img{
      margin: 20px 0 20px 0;
 }
.backPage{
	background-color: #222;
}
.backContent{
	padding: 20px;
}
.imgHeader{
	width: 55%;
}
.img-circle {
   position: relative;
    bottom: 40px;
}
.titleHero{
	    font-weight: 700;
	    font-size: 25px;
	    position: relative;
	    top: -20px;
}
.subTitleHero{
	    font-weight: 700;
	    font-size: 25px;
}
.contentHero{
	float: left;
    width: 41%;
    height: 390px;
    background-color: #ffffff;
    margin: 30px;
}
.btn-view{
	border-radius: 0;
    background-color: #f00;
    color: #ffffff;
}
.back-content{
	background-color: rgb(241, 241, 241);
}
.footer-content{
	color: #ffffff;
    padding: 40px 0 30px 40px;
 }
.imgFooter {
    padding: 20px;
}
#short_by{
	margin-top: 20px;
}